<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>Legal Notices</h3>
        </div>
    </div>
    <div class="clearfix"></div>
        <ul>
            <li><a href="~/gentelella/LICENSE.txt">The <i>Gentelella - Bootstrap Admin Template</i> provided by <b>Colorlib</b>.</a></li>
        </ul>
</div>
